*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto Slab", serif;
}
.navbar{
    background-color: #2dcb5c;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    width: 24%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
}
.book-container h2{
    color: #2dcb5c;
}
.book-container button{
    background-color: #2dcb5c;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;margin-top: 10px;
}

.hifen{
    background-color: #2dcb5c;
    color: black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.pop-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.pop-box{
    background-color: #2dcb5c;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 28%;
    z-index: 2;
    display: none;
}

.pop-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.pop-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}

.pop-box input::placeholder{
    color: black;
}
.pop-box textarea::placeholder{
    color: black;
}

.pop-box input:focus{
    outline: none;
}
.pop-box textarea:focus{
    outline: none;
}


.pop-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 5px;
}